{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    [
      "@babel/preset-react"
    ]
  ],
  "plugins": [
    ["@babel/plugin-syntax-dynamic-import"],
    ["@babel/plugin-proposal-export-default-from"],
    ["@babel/plugin-proposal-class-properties"],
    ["universal-import"]
  ]
}
