@charset "UTF-8";

.header-section {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  text-align: center;
  border-bottom: 1px solid #cac6ec;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 55px;
  z-index: 1;

  .header-section-category {

    position: absolute;
    top: 0;
    left: 30px;

    a {
      width: 20px;
      display: inline-block;
      padding: 12px 12px;

      img {
        width: 100%;
        height: 30px;
      }
    }

    .__link-smartpeepee {

    }
    .__link-smartbottle {

    }
    .__link-smarttemp {

    }

  }
  //header-section-category

  .__link-logo {
    display: inline-block;
    padding: 10px 0;

    img {
      width: 124px;
      height: 34px;
      min-height: 1px;
    }
  }

  .language-box {
    position: absolute;
    top: 4px;
    right: 30px;
    height: 50px;
    z-index: 2;
    background-color: #fff;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    overflow: hidden;
    cursor: pointer;

    li {
      padding:7px 10px;
      display: block;
      background-color: #fff;
      cursor: pointer;

      div {
        width: 30px;
        height: 30px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #ababab;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
      }
      .__lang-en {
        cursor: pointer;
        background: #fff url("./web-footer-icn-us.svg") no-repeat center/cover;

      }
      .__lang-cn {
        cursor: pointer;
        background: #fff url("./web-footer-icn-cn.svg") no-repeat center/cover;

      }
      .__lang-ja {
        cursor: pointer;
        background: #fff url("./web-footer-icn-jp.svg") no-repeat center/cover;

      }
      .__lang-ko {
        cursor: pointer;
        background: #fff url("./web-footer-icn-ko.svg") no-repeat center/cover;

      }
      .__lang-ru{
        cursor: pointer;
        background: #fff url("./web-footer-icn-ko.svg") no-repeat center/cover;
      }
    }

  }
  //language-box

  .language-box.active{
    height: auto;
  }
}

//header-section

@media only screen and (max-width: 1024px) {
  .header-section {

    .__link-logo {

      img {

      }
    }

    &--container {

    }
    .__sns-link {

    }
    //__sns-link
    .email {
    }
    .facebook {
    }
    .twitter {
    }

    .__select-country {

      div {

      }
      .__down-pointer {

      }
      //__down-pointer

      //country-box

    }
    //__select-country

    .__select-country.active {

      .country-box {

      }
    }

  }
}

@media only screen and (max-width: 768px) {
  .header-section {
    position: relative;
    top: initial;
    .__link-logo {

      img {
        width: 96px;
        height: auto;
      }
    }

    .header-section-category {

      left: 20px;
      top: 4px;

      a {
        width: 15px;
        padding: 5px 8px;
        display: inline-block;
        vertical-align: baseline;

        img {
          width: 20px;
          height: 20px;
        }
      }

      .__link-smartpeepee {

      }
      .__link-smartbottle {

      }
      .__link-smarttemp {

      }

    }

    .language-box {
      right: 20px;
      top: 0;
      height: 40px;

      li {
        padding: 10px;
        display: block;
        background-color: #fff;

        div {
          width: 28px;
          height: 28px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          overflow: hidden;
        }
        .__lang-en {

        }
        .__lang-cn {

        }
        .__lang-ja {

        }
        .__lang-ko {

        }
      }

    }

  }

}

@media only screen and (max-width: 640px) {
  .header-section {

    .__link-logo {
      padding: 5px 0;

    }

    .__link-logo {

      img {
        width: 96px;
        height: auto;
      }
    }

    .language-box {
      right: 20px;
      height: 36px;

      li {
        padding: 6px;

        a {
          cursor: pointer;
        }
        div {
          width: 24px;
          height: 24px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          overflow: hidden;
        }
        .__lang-en {

        }
        .__lang-cn {

        }
        .__lang-ja {

        }
        .__lang-ko {

        }
      }

    }

  }
}

@media only screen and (max-width: 320px) {
  .header-section {

    .__link-logo {

      img {
        width: 100px;
      }
    }

    //__sns-link
    .email {
    }
    .facebook {
    }
    .twitter {
    }

    //__select-country

    .__select-country.active {

      .country-box {

      }
    }

  }
}