@charset "UTF-8";

.kickstarter-section{
  text-align: center;
  background-color: #edf3fb;
  padding: 26.125% 0;
  position: relative;

  a{
    display: inline-block;
    img{
      width: 50%;
    }
  }
}