
.vimeo-play-box {
  position: fixed;
  top: 87px;
  right: 37px;
  display: block;
  z-index: 0;

  >div{
    width: 32px;
    height: 32px;
    background:url("./icn-sound-on.svg") no-repeat center/contain;
  }

  >div.active{
    background:url("./icn-sound-off.svg") no-repeat center/32px 32px;
  }

}//.vimeo-play-box
