
.vimeo-play-box {
  position: fixed;
  top: 87px;
  right: 37px;
  display: block;
  z-index: 0;

  > div {
    width: 54px;
    height: 54px;
    background: url("./icn-sound-on.svg") no-repeat center/contain;
  }

  > div.active {
    background: url("./icn-sound-off.svg") no-repeat center/contain;
  }

}

//.vimeo-play-box

@media only screen and (max-width: 640px) {
  .vimeo-play-box {
    display: none;
  }

}
